<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Blogify</h5>
                <p>
                    Blogify is a platform where you can share your thoughts, ideas, and stories. Join our community to
                    express yourself through blogs.
                </p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="footer-links">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/user/signup">Sign Up</a></li>
                    <li><a href="/user/login">Login</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="social-links">
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="copyright">
                    &copy; <%= new Date().getFullYear() %> Blogify. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>